/* ====================
             Font Style
             ============================== */
body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.top-body {
    width: 90%;
    margin: auto;

}

/* ====================
                         Header Section
                         ============================== */
header {
    width: auto;
    height: 500px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    border-radius: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.heder-title {
    width: 50%;
    padding: 3vw;
}

.heder-title h1 {
    font-size: 4vw;
    color: white;

}

.heder-title p {
    font-size: 2vw;
    color: white;

}

.button-live a {
    background-color: brown;
    padding: 1vw;
    color: white;
    text-decoration: none;
    border-radius: 2vw;
    text-align: center;
}

.button-live a:hover {
    transform: scaleX(1.1);
    background-color: red;
    color: white;
}

.header-img {
    width: 50%;

}

.header-img img {
    width: 100%;

    border-radius: 0 10px 10px 0;

}

/* ====================
                         Header Section End
                         ============================== */

/* ====================
                         Main Body Start
                         ============================== */

.main-body {
    width: auto;
    display: flex;
    align-items: stretch;


}

/* ====================
                         Main Section Left Nav
                         ============================== */
.left-side-nav {
    margin-top: 20px;
    width: 40vw;
    height: 250px;
    border-radius: 10px;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.nav {
    margin: 20px 5px;
    border: 1px solid black;
    background-color: white;
}

.nav a {
    padding: 15px 5px;

    color: black;
    font-size: 1.2vw;
    font-optical-sizing: 700px;
    text-decoration: none;

}



.nav:hover {
    transform: scaleX(1.1);
    background-color: red;
}

.nav:hover a {
    color: white;
}

/* ====================
                         Main Card Content 
                         ============================== */
.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-grow: 1;
}

.main-cont-card {
    margin: 20px;

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);

}

.main-card-image img {
    width: 100%;
    border-radius: 10px 10px 0 0;


}

/* ====================
                         Card Content Text start
                         ============================== */
.card-content-text {
    padding: 0 10px 10px 10px;
}

.card-content-text h5 {
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    margin-bottom: 0;
}

#message-icon i {
    padding-left: 50px;
}

/* ====================
                         Footer
                         ============================== */
footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 15vw;
    padding: 25px 60px;
    font-size: 1.2vw;
    margin-top: 60px;
}


.footer-content a {
    text-decoration: none;
    color: white;
    padding-right: 15px;
}

.social-icon>a>i {
    font-size: 2vw;
    padding: 10px;
    color: white;
}

/* ====================
                         For Mobile Screen
                         ============================== */
@media only screen and (max-width: 576px) {
    .top-body {
        width: 90%;
    }

    header {
        width: auto;
        height: auto;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        padding-bottom: 0;


    }

    .heder-title {
        width: 80%;
        padding-right: 2vw;
    }

    .heder-title h1 {
        font-size: 8vw;
        margin-bottom: 0;
    }

    .heder-p-area {
        width: 70vw;
        height: 14vw;
        border: 1px solid blanchedalmond;
        overflow: hidden;

    }

    .text-ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .heder-title p {
        font-size: 4vw;

    }

    .header-img {
        width: 100%;
    }

    .header-img img {
        width: 100%;
        border-radius: 0 0 50px 50px;
        margin: auto;
    }


    .main-body {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;

    }

    .left-side-nav {
        width: 100%;
        padding: 0;
        height: auto;

    }

    .nav {
        height: auto;
        padding: 2vw 5vw;
        margin-top: 2px;
        border: 2px solid black;
    }

    .nav a {
        color: black;
    }

    .nav:hover {
        transform: scaleX(1.1);
        background-color: red;

    }

    .nav:hover a {
        color: white;
    }


    .main-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }


    .main-cont-card {
        width: auto;
    }

    /* ====================
                         Footer for mobile
                         ============================== */
    footer {
        height: auto;
        font-size: 6vw;
    }

    .footer-content a {
        display: block;
        margin-top: 20px;
    }

    .social-icon>a>i {
        font-size: 10vw;
        padding: 10px;
        color: white;

    }
}

/* ====================
                         For Tablet
                         ============================== */
@media screen and (min-width: 577px) and (max-width:992px) {
    header {
        height: auto;
        margin-bottom: 25px;
    }

    .button-live a {
        font-size: 3vw;
    }

    .main-body {
        flex-direction: column;
        align-items: center;
    }

    .left-side-nav {
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        height: auto;
        margin: 0;
        padding: 0;

    }

    .nav {
        border: 1px solid grey;
        width: 30%;
        height: 50px;
        margin: 0;
        padding: 0;

    }



    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        font-size: 3vw;
        height: auto;
    }

    .social-icon>a>i {
        font-size: 4vw;
    }
}